{% extends "base.html" %}
{% block content %}

<h1>Meal Plans</h1>

<a href="{% url 'blog:mealplan_create' %}" class="btn btn-primary">Create New Meal Plan</a>

{% if mealplans %}
    <ul>
        {% for mealplan in mealplans %}
            <li>
                <a href="{% url 'blog:mealplan_detail' mealplan.pk %}">{{ mealplan.name }}</a>
                ({{ mealplan.get_status_display }}) - {{ mealplan.start_date }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No meal plans found.</p>
{% endif %}

{% endblock %}
